:root {
  --pink: #db2b80;
  --blue: #3d94c9;
  --yellow: #d1ca3b;
  --bg: #101010;
  --bg-light: #242424;
}

body {
  font-family: "Teko", sans-serif;
  flex-direction: column;
  display: flex;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  overflow-x: hidden;
  user-select: none;
}

.con {
  max-width: 1200px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

.header,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 24px;
  gap: 20px;
}

.header {
  justify-content: space-between;
}

.footer {
  justify-content: center;
  flex-wrap: wrap;
}

.static {
  text-align: center;
  max-width: 240px;
  width: 100%;
  color: var(--blue);
  background-image: radial-gradient(
    circle at center,
    var(--bg-light) 0%,
    var(--bg) 100%
  );
  border: 2px currentColor solid;
  border-radius: 8px;
  padding: 24px;
}

.static .value {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
}

.static[data-static="player"] {
  color: var(--pink);
}

.static[data-static="bot"] {
  color: var(--yellow);
}

.main {
  flex: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 32px;
}

.game {
  --width: 33%;
  --gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  width: 100%;
  gap: var(--gap);
}

.point {
  width: calc(var(--width) - var(--gap));
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--bg-light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64%;
  border-radius: 8px;
}

.point.here-x {
  background-image: url("../svg/x.svg");
  pointer-events: none;
}

.point.here-o {
  background-image: url("../svg/o.svg");
  pointer-events: none;
}

.point:not([class*="here"]) {
  cursor: pointer;
}

@media (hover: hover) {
  [data-unit="x"] .point:not([class*="here"]):hover {
    background-image: url("../svg/x-hover.svg");
  }

  .logo::after,
  [data-unit="o"] .point:not([class*="here"]):hover {
    background-image: url("../svg/o-hover.svg");
  }
}

@media (hover: none) {
  [data-unit="x"] .point:not([class*="here"]):active {
    background-image: url("../svg/x-hover.svg");
  }

  .logo::after,
  [data-unit="o"] .point:not([class*="here"]):active {
    background-image: url("../svg/o-hover.svg");
  }
}

.logo {
  width: 64px;
  height: 64px;
  background-image: url("../svg/x-hover.svg"), url("../svg/o.svg"),
    url("../svg/x.svg"), url("../svg/o-hover.svg");
  background-position: left top, right top, left bottom, right bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}

.restart {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--pink);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64%;
  background-image: url("../svg/restart.svg");
  cursor: pointer;
  transition: 0.1s background-color;
}

@media (hover: hover) {
  .restart:hover {
    background-color: var(--blue);
  }
}

@media (hover: none) {
  .restart:active {
    background-color: var(--blue);
  }
}
